body {
  font-size: 16px;
  font-family: "Righteous", cursive;
}
#header-nav {
  background-color: #999999;
  border: 0;
  border-radius: 0;
  height: 70px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
#nav-list {
  margin-top: 10px;
  background-color: khaki;
}
#nav-list a {
  color: black;
  text-align: center;
  border-bottom: 1px black solid;
}
#nav-list a:hover {
  background: #e7e7e7;
}
.container {
  background-color: #999999;
  color: black;
}

@media (max-width: 767px) {
  .container {
    margin: 0 50px 0;
  }
}
